{% extends 'base.html' %}
{% block content %}
    <div class="bg-light">
        <div class="p-4 px-5 bg-white shadow-sm">
            <h4>{{ project }}</h4>
            <a type="button" href="{% url 'test_plans' project_pk=project.id %}" class="btn btn-primary btn-sm text-nowrap">Тест-планы</a>
        </div>
        <div class="d-flex flex-row"  style="height: 75vh;">
            <!-- Список наборов проекта -->
            <div id="suites"class="pt-3 px-5 w-25">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="me-2 mb-0 h5">Наборы</div>
                    <!-- Новый набор -->
                    <!-- TODO: Переделать через формы -->
                    <button type="button"
                            class="btn btn-primary btn-sm text-nowrap"
                            data-bs-toggle="modal"
                            data-bs-target="#newSuite">Новый набор +</button>
                </div>
                <hr class="my-2">
                {% include 'projects/modals/new_suite.html' %}
                {% block new_suite %}
                {% endblock new_suite %}
                {% include 'projects/suite_list.html' %}
                {% block suite_list %}
                {% endblock suite_list %}
            </div>
            <div class="vr"></div>
            <!-- Список тест-кейсов проекта -->
            <div id="tests" class="w-75 pt-3 px-5">
                <div class="mb-2">
                    <div class="d-flex flex-row">
                        <input type="checkbox" onClick="toggle(this)" class="">
                        <p class="mx-2 mb-0 h5">Тесты</p>
                        <!-- Новый тест-кейс -->
                        <button type="button"
                                class="btn btn-primary btn-sm text-nowrap"
                                data-bs-toggle="modal"
                                data-bs-target="#newTestCase">Новый тест-кейс +</button>
                        {% include 'projects/modals/new_testCase.html' %}
                        {% block new_testCase %}
                        {% endblock new_testCase %}
                    </div>
                </div>
                {% include "testCase/testCase_table.html" %}
                {% block testCaseTable %}
                {% endblock testCaseTable %}
            </div>
        </div>
    {% endblock content %}
