{% block suite_list %}
    {% if suite_test_list %}
        {% for suite_name, test_list in suite_test_list.items %}
            <div class="d-flex flex-row justify-content-between align-items-center">
                <a class="d-flex align-items-center text-dark text-decoration-none"
                   data-bs-toggle="collapse"
                   href="#collapse_{{ forloop.counter }}"
                   name="suiteSelect">
                    {% if test_list %}
                        <i class="fa-solid fa-caret-down"></i>
                    {% else %}
                        <i class="fa-solid fa-caret-down" style="color: #f8f9fa;"></i>
                    {% endif %}
                    <div class="m-1">{{ suite_name }}</div>
                </a>
                <a href=""
                   class="fa-solid fa-xmark text-dark text-decoration-none"
                   data-bs-toggle="modal"
                   data-bs-target="#deleteSuiteModal_{{ forloop.counter }}"></a>
                <div class="modal fade"
                     id="deleteSuiteModal_{{ forloop.counter }}"
                     tabindex="-1"
                     aria-labelledby="deleteSuiteModalLabel_{{ forloop.counter }}"
                     aria-hidden="true">
                    {% csrf_token %}
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteSuiteModalLabel_{{ forloop.counter }}">Удалить?</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body" name="suite_name">
                                Вы уверены что хотите удалить набор: <strong>{{ suite_name }}</strong>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <a type="button"
                                   href="{% url 'delete_suite' project_pk=project.id suite_name=suite_name %}"
                                   class="btn btn-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-danger">Нет наборов</div>
    {% endif %}
{% endblock %}
