{% block history %}
    <div class="tab-pane fade р-100"
         id="nav-history_{{ test.id }}"
         role="tabpanel"
         aria-labelledby="nav-history-tab">
        <div id="createdBy" class="pb-3">
            <div>
                <strong>Создан</strong>
            </div>
            <div class="text-break">@{{ test.created_by }} - {{ test.created_date }}</div>
        </div>
        <div id="modifiedBy" class="pb-3">
            <div>
                <strong>Изменён</strong>
            </div>
            <div class="text-break">@{{ test.lastModified_by }} - {{ test.lastModified_date }}</div>
        </div>
    </div>
{% endblock history %}
