{% block testListTable %}
    {% if suite_test_list %}
        <div id="toolbar">
            <button id="remove" class="btn btn-danger" disabled>
                <i class="fa fa-trash"></i> Удалить
            </button>
        </div>
        <div class="modal fade"
             id="createTestCase"
             tabindex="-1"
             aria-labelledby="createTestCaseLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createTestCaseLabel">Modal title</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">...</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="m-1">
        {% csrf_token %}
        <form>
            <table id="table"
                   data-toggle="table"
                   data-toolbar="#toolbar"
                   data-search="true"
                   data-show-fullscreen="true"
                   data-show-export="true"
                   data-show-columns="true"
                   data-show-columns-toggle-all="true"
                   data-minimum-count-columns="2"
                   data-id-field="id">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-sortable="true">Проект</th>
                        <th data-field="id" data-sortable="true">Код</th>
                        <th data-sortable="true">Название</th>
                        <th data-sortable="true">Набор</th>
                        <th data-sortable="true">Тип</th>
                        <th data-sortable="true">Приоритет</th>
                        <th data-sortable="true">Автоматизирован</th>
                        <th data-sortable="true">Теги</th>
                        <th data-sortable="true">Создан</th>
                    </tr>
                </thead>
                <tbody>
                    {% for suite_name, test_list in suite_test_list.items %}
                        {% if test_list %}
                            {% for test in test_list %}
                            
                                <tr>
                                    {% with projectAcronym=test.project.acronym %}
                                        <td></td>
                                        <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">{{ projectAcronym }}
                                        </td>
                                        <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">{{ test.id }}
                                        </td>
                                        <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">{{ test.title }}</td>
                                        <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">{{ suite_name.title }}</td>
                                        <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">{{ test.type }}</td>
                                        <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">{{ test.priority }}</td>
                                        <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">
                                            {% if test.isAutomated %}
                                                Да
                                            {% else %}
                                                Нет
                                            {% endif %}
                                        </td>
                                        <td class="mx-1 text-success">
                                            {% for k, v in testCaseTags.items %}
                                                {% if k == test.id %}
                                                    <div>
                                                        {% for x in v %}#{{ x.tag }}{% endfor %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ test.created_date }}</td>
                                    {% endwith %}
                                </tr>

                                {% include 'testCase/testCase_modal.html' %}
                                {% block testCaseModal %}
                                {% endblock testCaseModal %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <script>
            var $table = $('#table')
            var $remove = $('#remove')
            var selections = []

            function getIdSelections() {
                return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
                })
            }
            function initTable() {

                $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table',
                function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)})
                $remove.click(function () {

                    var CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
                    var ids = getIdSelections()

                    $.post('remove/', { 
                        test_ids: ids,
                        csrfmiddlewaretoken: CSRFtoken
                    });
                    
                    $table.bootstrapTable('remove', {
                        field: 'id',
                        values: ids
                    })
                    $remove.prop('disabled', true)
                })
            }
            $(function() {
                initTable()
            })
        </script>
    {% else %}
        <div>Нет тестов :(</div>
    {% endif %}
{% endblock %}
