{% block testPlanTable %}
    {% if suite_test_list %}
        {% for suite_name, test_list in suite_test_list.items %}
            {% if test_list %}
                <a class="d-flex align-items-center text-dark text-decoration-none"
                   data-bs-toggle="collapse"
                   href="#collapse_{{ forloop.counter }}"
                   name="suiteSelect">
                    {% if test_list %}
                        <i class="fa-solid fa-caret-down"></i>
                    {% else %}
                        <i class="fa-solid fa-caret-down" style="color: #f8f9fa;"></i>
                    {% endif %}
                    <strong id="title">{{ suite_name.title }}</strong></a>
                <div class="collapse show" id="collapse_{{ forloop.counter }}">
                    <table id="table"
                           data-toggle="table"
                           data-id-field="id"
                           data-show-footer="true">
                        <thead>
                            <tr>
                                <th data-field="id"
                                    data-sortable="true"
                                    data-field="id"
                                    data-footer-formatter="idFormatter">Код</th>
                                <th data-sortable="true"
                                    data-field="name"
                                    data-footer-formatter="nameFormatter">Название</th>
                                <th data-sortable="true">Приоритет</th>
                                <th data-sortable="true">Назначено</th>
                                <th data-sortable="true"
                                    data-field="time"
                                    data-footer-formatter="timeFormatter">Время, мин</th>
                                <th data-sortable="true">Результат</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in test_list %}
                                {% with test=x.testCase %}
                                    <tr>
                                        {% with projectAcronym=test.project.acronym %}
                                            <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">{{ projectAcronym }}-{{ test.id }}</td>
                                            <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">{{ test.title }}</td>
                                            <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">{{ test.priority }}</td>
                                            <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">@{{ x.assigned_to }}</td>
                                            <td data-bs-toggle="modal" data-bs-target="#testCaseModal_{{ test.id }}">{{ x.estimatedTime }}</td>
                                            <td class="mx-1 {% if x.result.name %}{% if x.result.name == "Успех" %} text-success {% elif x.result.name == "Ошибка" %} text-danger {% else %} text-warning {% endif %}{% endif %}"
                                                style="width: 10%">
                                                <strong>
                                                    {% if x.result %}
                                                        {{ x.result }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </strong>
                                            </td>
                                            <td>
                                                {% if user == x.assigned_to %}
                                                    <a href="{% url 'testResult_success' project_pk=test.project.id testPlan_pk=x.testPlan.id test_pk=test.id %}"
                                                       class="mx-1 fa-solid fa-thumbs-up text-success"></a>
                                                    <a href="{% url 'testResult_fail' project_pk=test.project.id testPlan_pk=x.testPlan.id test_pk=test.id %}"
                                                       class="mx-1 fa-solid fa-thumbs-down text-danger"></a>
                                                    <a href="warning"
                                                       class="mx-1 fa-solid fa-question text-warning"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#exampleModal"></a>
                                                    <div class="modal fade"
                                                         id="exampleModal"
                                                         tabindex="-1"
                                                         aria-labelledby="exampleModalLabel"
                                                         aria-hidden="true">
                                                        <form class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Новый результат</h5>
                                                                    <button type="button"
                                                                            class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Закрыть"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <input type="text" class="form-control" placeholder="Результат" list="results"/>
                                                                    <datalist id="results">
                                                                        <option>Volvo</option>
                                                                        <option>Volva</option>
                                                                    </datalist>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                                    <button type="button" class="btn btn-primary">Сохранить</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                {% else %}
                                                    <i class="mx-1 text-secondary fa-solid fa-thumbs-up"></i>
                                                    <i class="mx-1 text-secondary fa-solid fa-thumbs-down"></i>
                                                    <i class="mx-1 text-secondary fa-solid fa-question"></i>
                                                {% endif %}
                                            </td>
                                        {% endwith %}
                                    </tr>
                                    {% include 'testCase/testCase_modal.html' %}
                                    {% block testCaseModal %}
                                    {% endblock testCaseModal %}
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <strong id="title">{{ suite_name.title }}</strong>
                <div>Нет тестов :(</div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div>
            Нет тест планов
        {% endif %}
        <script>
            function idFormatter() {
                return 'Всего'
              }
            
              function nameFormatter(data) {
                return data.length
              }
            
              function timeFormatter(data) {
                var field = this.field
                return data.map(function (row) {
                  return +row[field]
                }).reduce(function (sum, i) {
                  return sum + i
                }, 0) + ' минут'
              }
        </script>
    {% endblock %}
