{% block testCaseTable %}
        {% if suite_test_list %}
            {% for suite_name, test_list in suite_test_list.items %}           
                {% if test_list %}
                    <div class="collapse show" id="collapse_{{ forloop.counter }}">

                        <Strong id="title">{{ suite_name.title }}</strong>

                        {% for test in test_list %}
                            {% with projectAcronym=test.project.acronym %}
                                <div class="d-flex flex-row">
                                    <input type="checkbox" name="testSelect">
                                    <a class="d-flex flex-row text-decoration-none"
                                       href=""
                                       data-bs-toggle="modal"
                                       data-bs-target="#testCaseModal_{{ test.id }}">
                                        <div class="mx-2 text-secondary">{{ projectAcronym }}-{{ test.id }}</div>
                                        <div class="mx-1">{{ test.title }}</div>
                                    </a>
                                </div>
                                <hr class="m-1">
                                {% include 'testCase/testCase_modal.html' %}
                                {% block testCaseModal %}
                                {% endblock testCaseModal %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div>Нет тестов :(</div>
        {% endif %}

{% endblock %}
