<!DOCTYPE html>
<head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700"
              rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://kit.fontawesome.com/f17ba7956e.js"
                crossorigin="anonymous"></script>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
              integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <link rel="stylesheet"
              href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
        <style>
                .modal-header {
                        border-bottom: 0;
                }
                .modal-dialog-slideout {
                        min-height: 100%;
                        margin: 0 0 0 auto;
                }
                .modal.fade .modal-dialog.modal-dialog-slideout {
                        -webkit-transform: translate(100%, 0)scale(1);
                        transform: translate(100%, 0)scale(1);
                }
                .modal.fade.show .modal-dialog.modal-dialog-slideout {
                        height: 100%;
                        -webkit-transform: translate(0, 0);
                        transform: translate(0, 0);
                        align-items: stretch;
                        -webkit-box-align: stretch;
                } 
                a[aria-expanded='false'] > .fa-caret-down  {
                        transform: scale(1) rotate(-90deg);
                }
                a[aria-expanded="true"] > .fa-caret-right  {
                        transform: rotate(90deg);
                }

                        
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
                integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
                integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
                integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"
                integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/i18n/defaults-ru_RU.min.js"
                integrity="sha512-J5lcGAULDaWwa2PUNt6rrIotMbdPeiRKz75CaVPHjMoO+Dco6FbS/V3u4wZefRYoxUSWsHde9P4aAErqmsEt2Q=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.21.4/locale/bootstrap-table-ru-RU.min.js"
                integrity="sha512-JN4uPBQVFNxQDgr6k8sKKGfch/kF8mc2FXRMjaPM5Q/7pymgRm7240a9RlecP9+aP4tnvRltGo/WZzqQLkU7sw=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script>
                        $(function() {
                                $('.modal-content').resizable({
                                    handles: 'w',
                                    minWidth: 500, 
                                    maxWidth: 1000,
                                    stop: function(event, ui) {
                                        $(this).css("height", '100%');
                                    }
                                });
                            });
                        function toggle(source) {
                                checkboxes = document.getElementsByName('testSelect');
                                for(var i=0, n=checkboxes.length;i<n;i++) {
                                  checkboxes[i].checked = source.checked;
                                }
                        }
        </script>
</head>
<body>
        <!-- Header -->
        <title>Django - TMS</title>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow ">
                <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                                {% load static %}
                                <img src="{% static '/icon.png' %}" alt="" height=30 width=30>
                                TMS
                        </a>
                        <button class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                        <a class="nav-link" href="{% url 'projects' %}">Проекты</a>
                                        <a class="nav-link" href="{% url 'tests' %}">Тесты</a>
                                </ul>
                        </div>
                        <div class="btn-group">
                                <button type="button"
                                        class="btn btn-outline-primary dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        data-bs-display="static"
                                        aria-expanded="false">ЛК</button>
                                <ul class="dropdown-menu dropdown-menu-lg-end">
                                        <li>
                                                <a class="dropdown-item" href="#">Профиль</a>
                                        </li>
                                        <li>
                                                <a class="dropdown-item" href="#">Помощь</a>
                                        </li>
                                        <li>
                                                <div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                                <a class="dropdown-item" href="#">Панель администратора</a>
                                        </li>
                                        <li>
                                                <div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                                <a class="dropdown-item text-danger" href="#">Выйти</a>
                                        </li>
                                </ul>
                        </div>
                </div>
        </nav>
        {% block content %}
        {% endblock content %}
</body>
