{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow ">
    <div class="container-fluid">
            <a class="navbar-brand" href="#">
                    {% load static %}
                    
                    <img src="{% static 'images/icon.png' %}" alt="TMS Icon" width="40" height="40">
                    TMS
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                            <a class="nav-link" href="{% url 'projects' %}">Проекты</a>
                            <a class="nav-link" href="{% url 'tests' %}">Тесты</a>
                    </ul>
            </div>
            <div class="btn-group">
                    <button type="button"
                            class="btn btn-outline-primary dropdown-toggle"
                            data-bs-toggle="dropdown"
                            data-bs-display="static"
                            aria-expanded="false">ЛК</button>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li>
                                    <a class="dropdown-item" href="{% url 'profile' %}">Профиль</a>
                            </li>
                            <li>
                                    <a class="dropdown-item" href="#">Помощь</a>
                            </li>
                            <li>
                                    <div class="dropdown-divider"></div>
                            </li>
                            <li>
                                    <a class="dropdown-item" href="{% url 'admin:index' %}">Панель администратора</a>
                            </li>
                            <li>
                                    <div class="dropdown-divider"></div>
                            </li>
                            <li>
                                    <a class="dropdown-item text-danger" href="#">Выйти</a>
                            </li>
                    </ul>
            </div>
    </div>
</nav>
{% endblock %}