{% extends 'base.html' %}
{% block content %}
    <div class="bg-light">
        <div class="p-4 px-5 bg-white shadow-sm">
            <h4>{{ project }}</h4>
            <!-- Новый набор -->
            <button type="button"
                    class="btn btn-primary btn-sm p-2 text-nowrap"
                    data-toggle="modal"
                    data-target="#newSuite">Новый набор +</button>
            <form method="post"
                  class="modal fade needs-validation"
                  id="newSuite"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="newSuiteModalLabel"
                  aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newSuiteModalLabel">Новый набор</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Модал -->
                        <div class="modal-body">
                            <label for="validationCustom01">Название набора</label>
                            <div class="input-group input-group-sm mb-3 has-validation">
                                <!-- INPUT -->
                                <input type="text"
                                       name="suite_name"
                                       class="form-control"
                                       aria-label="Small"
                                       aria-describedby="inputGroup-sizing-sm"
                                       required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- Кнопка "Закрыть" -->
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <!-- Кнопка "Сохранить" -->
                            <button type="submit" href="new_suite" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Новый тест-кейс -->
            <button type="button"
                    class="btn btn-primary btn-sm p-2 text-nowrap"
                    data-toggle="modal"
                    data-target="#newTestCase">Новый тест-кейс +</button>
            <form method="post"
                  class="modal fade needs-validation"
                  id="newTestCase"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="newTestCaseLabel"
                  aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newTestCaseLabel">Новый тест-кейс</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Модал -->
                        <div class="modal-body">
                            <label for="validationCustom01">Название тест-кейса</label>
                            <div class="input-group input-group-sm mb-3 has-validation">
                                <!-- INPUT -->
                                <input type="text"
                                       name="suite_name"
                                       class="form-control"
                                       aria-label="Small"
                                       aria-describedby="inputGroup-sizing-sm"
                                       required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- Кнопка "Закрыть" -->
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <!-- Кнопка "Сохранить" -->
                            <button type="submit" href="new_testCase" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex"  style="height: 75vh;">
            <div class="w-25 border-right pt-3 px-5">
                <h5>Наборы</h5>
                {% if suite_list %}
                    {% for suite in suite_list %}
                        <div>
                            <div class="d-flex align-items-center text-dark">
                                <input data-toggle="collapse"
                                       href="#collapse_{{ forloop.counter }}"
                                       type="checkbox"
                                       name="suiteSelect"
                                       checked>
                                <div class="ml-2">{{ suite }}</div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-danger">Нет наборов</div>
                {% endif %}
            </div>
            <div class="w-75 pt-3 px-5">
                <div class="d-flex align-items-center">
                    <script language="JavaScript">
                        function toggle(source) {
                            checkboxes = document.getElementsByName('testSelect');
                            for(var i=0, n=checkboxes.length;i<n;i++) {
                              checkboxes[i].checked = source.checked;
                            }
                        }
                    </script>
                    <input type="checkbox" onClick="toggle(this)" class="mr-2">
                    <h5>Тесты</h5>
                </div>
                {% if suite_test_list %}
                    {% with projectAcronym=project.acronym %}
                        {% for suite_tests in suite_test_list %}
                            <div class="collapse show" id="collapse_{{ forloop.counter }}">
                                <table class="table">
                                    {% for test in suite_tests %}
                                        {% with suiteAcronym=test.suite.acronym %}
                                            <tr>
                                                <th scope="row">
                                                    <input type="checkbox" name="testSelect">
                                                </th>
                                                <td>{{ projectAcronym }}-{{ test.testCase_id }}</td>
                                                <td>{{ suiteAcronym }}</td>
                                                <td>
                                                    <a class="d-flex flex-row"
                                                       href=""
                                                       data-toggle="modal"
                                                       data-target="#testCaseModal_{{ test.testCase_id }}">{{ test.title }}</a>
                                                </td>
                                            </tr>
                                            <!--
                                        <div class="d-flex flex-row">
                                            <input type="checkbox" name="testSelect">
                                            <a class="d-flex flex-row" href="" data-toggle="modal" data-target="#testCaseModal_{{ test.testCase_id }}">
                                                <div class="mx-2 text-secondary">{{ projectAcronym }}-{{ test.testCase_id }}</div>
                                                <div class="mr-2 text-secondary">{{ suiteAcronym }}</div>
                                                <div class="mx-1">{{ test.title }}</div>
                                            </a>
                                        </div>
                                        <hr class="m-1">
                                    -->
                                            {% include 'testCase_modal.html' %}
                                            {% block testCaseModal %}
                                            {% endblock testCaseModal %}
                                        {% endwith %}
                                    {% endfor %}
                                </table>
                            </div>
                        {% endfor %}
                    {% endwith %}
                {% else %}
                    <div>Нет тестов :(</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
