{% extends 'base.html' %}
{% block content %}
    <div class="mx-5 p-5">
        <h2>Проекты</h2>
        <!-- Кнопки под заголовком -->
        <div class="d-inline-flex flex-row align-items-center p-1">
            <!-- Кнопка "Новый проект"-->
            <button type="button"
                    class="btn btn-primary btn-sm p-2 text-nowrap"
                    data-toggle="modal"
                    data-target="#newProject">Новый проект +</button>
            <!-- Модал -->
            <!-- FORM -->
            <form method="post"
                  class="modal fade needs-validation"
                  id="newProject"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="newProjectModalLabel"
                  aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newProjectModalLabel">Новый проект</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Модал -->
                        <div class="modal-body">
                            <label for="validationCustom01">Название проекта</label>
                            <div class="input-group input-group-sm mb-3 has-validation">
                                <!-- INPUT -->
                                <input type="text"
                                       name="project_name"
                                       class="form-control"
                                       aria-label="Small"
                                       aria-describedby="inputGroup-sizing-sm"
                                       required>
                            </div>
                            <div>Пользователи</div>
                            <select type="text"
                                    name="project_users"
                                    class="selectpicker"
                                    multiple
                                    title="Список пуст..."
                                    data-selected-text-format="count > 3"
                                    data-width="100%"
                                    multiple
                                    data-actions-box="true"
                                    required>
                                {% for user in user_list %}<option>{{ user }}</option>{% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <!-- Кнопка "Закрыть" -->
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <!-- Кнопка "Сохранить" -->
                            <button type="submit" href="new_project" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Поиск -->
            <form class="input-group p-2"
                  method="get"
                  action="{% url 'search_results' %}">
                <input name="search"
                       type="search"
                       class="form-control rounded"
                       placeholder="Поиск..."
                       aria-label="Поиск..."
                       aria-describedby="search-addon"
                       required>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary">Поиск</button>
                </div>
            </form>
        </div>
        <!-- Список проектов пользователя -->
        <!-- Проекты есть -->
        {% if project_list %}
            {% for project in project_list %}
                <div class="mx-5 mt-4">
                    <a class="h4" href="{% url 'project_view' project_pk=project.project_id%}">{{ project.project }}</a>
                    <hr>
                </div>
            {% endfor %}
            <!-- Пректов нет -->
        {% else %}
            <div class="mx-5 mt-4">
                <h4>Список пуст :(</h4>
                <a class="btn btn-outline-danger" href="{% url 'projects' %}">Отменить</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
