{% extends 'base.html' %}
{% block content %}
    <div class="bg-light">
        <div class="p-4 px-5 bg-white shadow-sm">
            <h4>{{ project }}</h4>
            <!-- Новый набор -->
            <button type="button"
                    class="btn btn-primary btn-sm text-nowrap"
                    data-bs-toggle="modal"
                    data-bs-target="#newSuite">Новый набор +</button>
            <form method="post"
                  class="modal fade needs-validation"
                  id="newSuite"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="newSuiteModalLabel"
                  aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newSuiteModalLabel">Новый набор</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <!-- Модал -->
                        <div class="modal-body">
                            <label for="validationCustom01">Название набора</label>
                            <div class="input-group input-group-sm mb-3 has-validation">
                                <!-- INPUT -->
                                <input type="text"
                                       name="suite_name"
                                       class="form-control"
                                       aria-label="Small"
                                       aria-describedby="inputGroup-sizing-sm"
                                       required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- Кнопка "Закрыть" -->
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <!-- Кнопка "Сохранить" -->
                            <button type="submit" href="new_suite" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Новый тест-кейс -->
            <button type="button"
                    class="btn btn-primary btn-sm text-nowrap"
                    data-bs-toggle="modal"
                    data-bs-target="#newTestCase">Новый тест-кейс +</button>
            <form method="post"
                  class="modal fade needs-validation"
                  id="newTestCase"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="newTestCaseLabel"
                  aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newTestCaseLabel">Новый тест-кейс</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <!-- Модал -->
                        <div class="modal-body">
                            <label for="validationCustom01">Название тест-кейса</label>
                            <div class="input-group input-group-sm mb-3 has-validation">
                                <!-- INPUT -->
                                <input type="text"
                                       name="suite_name"
                                       class="form-control"
                                       aria-label="Small"
                                       aria-describedby="inputGroup-sizing-sm"
                                       required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- Кнопка "Закрыть" -->
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <!-- Кнопка "Сохранить" -->
                            <button type="submit" href="new_testCase" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex flex-row"  style="height: 75vh;">
            <div id="suites"class="pt-3 px-5 w-25">
                <p class="mb-2 h5">Наборы</p>
                {% if suite_test_list %}
                    {% for suite_name, test_list in suite_test_list.items %}
                        <a class="d-flex align-items-center text-dark text-decoration-none"
                           data-bs-toggle="collapse"
                           href="#collapse_{{ forloop.counter }}"
                           name="suiteSelect">
                            <i class="fa-solid fa-caret-down"></i>
                            <div class="m-1">{{ suite_name }}</div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="text-danger">Нет наборов</div>
                {% endif %}
            </div>
            <div class="vr"></div>
            {% include "testCase/testCase_table.html" %}
            {% block testCaseTabel %}
            {% endblock testCaseTabel %}
        </div>
    </div>
{% endblock content %}
