{% extends 'base.html' %}
{% block content %}
    <style>
    .navbar {
        visibility: collapse;
    }
    </style>
    <div class="pt-5 text-center d-flex justify-content-center align-items-center">
        <form class="w-25">
            <h5 class="mb-3 fw-normal">Авторизация</h5>
            <div class="form-floating">
                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating pb-2">
                <input type="password"
                       class="form-control"
                       id="password"
                       placeholder="Пароль">
                <label for="password">Пароль</label>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me">
                        Запомнить меня
                    </label>
                </div>
                <a href="{% url 'restore' %}">Восстановить пароль</a>
            </div>
            <button class="w-100 btn btn-primary" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}
