{% extends 'base.html' %}
{% block content %}
    <style>
    .navbar {
        visibility: collapse;
    }
    </style>
    <div class="pt-5 text-center d-flex justify-content-center align-items-center">
        <form style="width: 35%;">
            <h5 class="mb-3 fw-normal">Восстановление пароля</h5>
            <div class="mb-3">Введите адрес электронной почты, привязанный к вашему аккаунту</div>
            <div class="form-floating mb-3">
                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="name@example.com">
                <label for="email">Email</label>
            </div>

            <button class="w-100 btn btn-primary" type="submit">Восстановить пароль</button>
        </form>
    </div>
{% endblock %}
